[run]
source = .
omit =
    tests/*
    */__init__.py
    */migrations/*
    */generated/*
    setup.py
    docs/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
